@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<div class="wrapper">
    <div>
        <h2 style="margin: 15px auto;text-align:center; color:#000;font-weight:bold">
            @localizer["User Management System"]
        </h2>

        <partial name="_AppSummary" />
        <partial name="_RecentRegisteredUser" />
    </div>
</div>
